body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color:#283136;
    background-color: #fff;
}
.main-header {
    background-color: #eeeeee;
}
.main-navigation {   
    color:#000000;
}
a {
    text-decoration: none;   
}
.navigation-link {
    font-weight: 500;
    line-height: 30px;
    color:#000000;
    text-transform: uppercase;
}
.navigation-link:hover,
.navigation-link:focus {
    color: #fb565a;
} 
.navigation-link:active {
    color: rgba(0, 0, 0, 0.3);
}
.main-header ul {
    list-style: none;
}
.slider-item b {
    color: #000000;
    font-size: 55px;
    line-height: 55px;
    font-weight: 500;
}
.btn {
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
    color: #fff;
    border: none;
    background-color: #fb565a;
    text-transform: uppercase;
    text-align: center; 
    vertical-align: middle;    
}
.info-button:hover,
.info-button:focus {
    background-color: #e74246;
}
.info-button:active {
    background-color: #d7373b;
    color: rgba(255, 255, 255, 0.3);
}
.info-slider li:nth-child(1) {
    background-image: url("../img/nerds-index-slide1.png");
    background-repeat:  no-repeat ; 
}
.info-slider li:nth-child(2) { 
    background-image: url("../img/nerds-index-slide2.png");
    background-repeat:  no-repeat ;
 }
.info-slider li:nth-child(3) {
    background-image: url("../img/nerds-index-slide3.png");
    background-repeat:  no-repeat ;
}
.services ul {
    list-style: none;
}
.list-services-item b {
    color: #000000;
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    text-transform: uppercase;
}
.buy-first {
    background-color: #fb565a;   
}
.buy-first:hover,
.buy-first:focus {
    background-color: #e74246;   
}
.buy-first:active {
    background-color: #d7373b; 
    color: rgba(255, 255, 255, 0.3);  
}
.buy-second {
    background-color: #00ca74;   
}  
.buy-second:hover,
.buy-second:focus {
    background-color: #00bc6c;   
}  
.buy-second:active {
    background-color: #00aa62;  
    color: rgba(255, 255, 255, 0.3);      
}  
.buy-third {
    background-color: #efc84a;   
}  
.buy-third:hover,
.buy-third:focus {
    background-color: #eab534;
}
.buy-third:active {
    background-color: #e5a722;
    color: rgba(255, 255, 255, 0.3); 
}
.list-services li:nth-child(1){
    background-image: url("../img/website.png");
    background-repeat:  no-repeat ;
}
.list-services li:nth-child(2){
    background-image: url("../img/apps.png");
    background-repeat:  no-repeat ;
}
.list-services li:nth-child(3){
    background-image: url("../img/presentation.png");
    background-repeat:  no-repeat ;
}
.marketing ul {
    list-style: none;
}
.slogan {
    color: #000000;
    font-size: 45px;
    line-height: 45px; 
    font-weight: 500;
}

.order,
caption {
    color: #000000;
    text-transform: uppercase;
    font-weight: 700;
}
.value {
    color: #000000;
    font-size: 45px;
    font-weight: 700;
}
.sup {
    color: #000000;
    font-weight: 400;
    font-size: 25px;
    vertical-align: super;
}
.parameter {
    line-height: 18px;
}
.site ul {
    list-style: none;
}
.site-link {
    opacity: 0.2;
}
.site-link:focus,
.site-link:hover {
    opacity: 1;
}
.site-link:active {
    opacity: 0.1;
}
.name {
    color: #000000;
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
}
.contact-container {
    background-color: #fff;
    text-align: center;
    vertical-align: middle;
}
.footer-contact .address {
    line-height: 18px;
    color: #666666;
}  
.network ul {
    list-style: none;
}
.friends {
    color: #000000;
    font-size: 36px;
    line-height: 36px;
    font-weight: 700;
}
.network p {
    color: #444444;
    line-height: 22px;
}
.write-us {
    background-color: #fff;
}
.title-write-us {
    color: #000000;
    font-size: 45px;
    line-height: 45px;
    font-weight: 500;
}
fieldset {
    border: none;
}
.label-write-us {
    font-weight: 700;
    color: #000000;
    line-height: 18px; 
}
.letter-write-us {
    border-color: #d7dcde;
    color: rgba(68, 68, 68, 0.5);
    line-height: 18px; 
}
.letter-write-us:hover {
    border-color: #b4b9bb;
    color: rgba(68, 68, 68, 0.5); 
}
.letter-write-us:focus {
    border-color: rgba(0, 0, 0, 1) ;
    color: rgba(68, 68, 68, 1);
}
.letter-write-us:invalid {
    border-color: #e74246;
    color: #e74246; 
}
.logo {
    opacity: 1;
}
.logo:hover {
    opacity: 0.3;
}
.site-nav-current {
    border-bottom: 2px solid #fb565a;
}
.h-catalog {
    color: #000000;
    font-weight: 500;
    font-size: 55px;
    line-height: 55px;
    text-align: center;
}
.filter ul {
    list-style: none;
}
.section-filter {
    color: #000000;
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
    text-transform: uppercase;
} 
.filter-option {
    line-height: 20px;
}
.filter-option:hover,
.filter-option:focus {
    color: #000000;
}
.filter-option:disabled {
    color: rgba(40, 49, 54, 0.5);
} 
.button-filter {
    line-height: 18px;
    font-weight: 500;
    color: #000;
    background-color: #eeeeee; 
}
.button-filter:focus {
    color: rgba(0, 0, 0, 0.3);
    background-color: #d5d5d5;
    border-top: 2px solid #bfbfbf;
}
.button-filter:hover {
    background-color: #c8c8c8;
}
.sort-link {
    font-size: 14px;
    line-height: 18px;
    color: rgba(0, 0, 0, 0.3);
}
.sort-link:hover {
    color: rgba(0, 0, 0, 0.6);
}
.sort-link:focus {
    color: rgba(0, 0, 0, 1);
}
.catalog ul {
    list-style: none;
}
.price {
    background-color: #eeeeee;
    text-align: center;
    vertical-align: middle;
}
.price-title {
    font-size: 18px;
    line-height: 30px;
    color: #000;
    font-weight: 700;
}
.price p {
    line-height: 18px;
}
.price-item {
    font-weight: 500;
    color: #fff;
    line-height: 18px;
    background-color: #fb565a;
}
.price-item:hover,
.price-item:focus {
    background-color: #e74246;
}
.price-item:active {
    background-color: #d7373b;
}
.pagination-link {
    color: #000;
    background-color: #eeeeee;
    vertical-align: middle;
    text-align: center;
}
.pagination-link:hover,
.pagination-link:focus {
    background-color: #dfdfdf;
}
.pagination-link:active {
    background-color: #d5d5d5;
    color: rgba(0, 0, 0, 0.3);
}
.pagination-link .curent {
    background-color: white;
    color: rgba(0, 0, 0, 1);
    border: 2px solid #d5d5d5;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0,0,0,0);
    overflow: hidden;
}

























  