body {
    width: 1440px;
    margin: 0;
    padding: 0;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color:#283136;
    background-color: #fff;
}
.main-header {
    background-color: #eeeeee;
}
.main-navigation { 
    padding-top: 50px; 
    display: flex; 
    width: 1440px;
    justify-content: space-between;
    color:#000000;
    align-items: baseline:
}
.logo {
    margin-left: 135px;
    margin-right: 195px;
}
.navigation-basket {
    margin-right: 140px;
    margin-left:auto;
}
.navigation-site {
    width: 440px;
    display: flex;
    justify-content: space-between;
}
.logo {
    opacity: 1;
}
.logo:hover,
.logo:focus {
    opacity: 0.8;
}
.logo:active {
    opacity: 0.3;
}
a {
    text-decoration: none;   
}
.navigation-link,
.basket-link {
    font-weight: 500;
    line-height: 30px;
    color:#000000;
    text-transform: uppercase;
}
.navigation-link:hover,
.navigation-link:focus,
.basket-link:hover,
.basket-link:focus {
    color: #fb565a;
} 
.navigation-link:active,
.basket-link:active {
    color: rgba(0, 0, 0, 0.3);
}
.info-slider {
    width: 300%;
    display: flex;
}
.slider-item {
    flex-basis: 100%;
    min-height: 430px;
}
.slider-container{
    width: 525px;
    margin-left: 85px;
}
.main-header ul {
    list-style: none;
}

.slider-item b {
    color: #000000;
    font-size: 55px;
    line-height: 55px;
    font-weight: 500;
}
.btn {
    line-height: 18px;
    font-weight: 500;
    color: #fff;
    border: none;
    background-color: #fb565a;
    text-transform: uppercase;    
}
.info-button:hover,
.info-button:focus {
    background-color: #e74246;
}
.info-button:active {
    background-color: #d7373b;
    color: rgba(255, 255, 255, 0.3);
}
.info-slider li:nth-child(1) {
    background-image: url("../img/nerds-index-slide1.png");
    background-repeat:  no-repeat ; 
    background-position: 75%;
}
.info-slider li:nth-child(2) { 
    background-image: url("../img/nerds-index-slide2.png");
    background-repeat:  no-repeat ;
 }
.info-slider li:nth-child(3) {
    background-image: url("../img/nerds-index-slide3.png");
    background-repeat:  no-repeat ;
}
.list-services {
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    
}
.services-item {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 350px;
    justify-content: flex-end;
}
.services-item b {
    color: #000000;
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    text-transform: uppercase;
}
.buy-first {
    background-color: #fb565a;   
}
.buy-first:hover,
.buy-first:focus {
    background-color: #e74246;   
}
.buy-first:active {
    background-color: #d7373b; 
    color: rgba(255, 255, 255, 0.3);  
}
.buy-second {
    background-color: #00ca74;   
}  
.buy-second:hover,
.buy-second:focus {
    background-color: #00bc6c;   
}  
.buy-second:active {
    background-color: #00aa62;  
    color: rgba(255, 255, 255, 0.3);      
}  
.buy-third {
    background-color: #efc84a;   
}  
.buy-third:hover,
.buy-third:focus {
    background-color: #eab534;
}
.buy-third:active {
    background-color: #e5a722;
    color: rgba(255, 255, 255, 0.3); 
}
.list-services li:nth-child(1){
    background-image: url("../img/website.png");
    background-repeat:  no-repeat ;
    margin-left: 100px;
}
.list-services li:nth-child(2){
    background-image: url("../img/apps.png");
    background-repeat:  no-repeat ;  
}
.list-services li:nth-child(3){
    background-image: url("../img/presentation.png");
    background-repeat:  no-repeat ;
    margin-right: 200px;
}
.marketing {
    display: flex;
    margin-top: 80px;
}
.dignity {
    width: 760px;
    height: 460px;
    margin-left: 140px;
}
.list-order {
    list-style: none;
}
.slogan {
    color: #000000;
    font-size: 45px;
    line-height: 45px; 
    font-weight: 500;
}
.practice {
    margin-right: 30px;
}
.order,
caption {
    color: #000000;
    text-transform: uppercase;
    font-weight: 700;
}
.value {
    color: #000000;
    font-size: 45px;
    font-weight: 700;
}
.sup {
    color: #000000;
    font-size: 25px;
    vertical-align: super;
}
.parameter {
    line-height: 18px;
}
.site-list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin-left: 140px;
    margin-right: 140px;
}
.site-link {
    opacity: 0.2;
}
.site-link:focus,
.site-link:hover {
    opacity: 1;
}
.site-link:active {
    opacity: 0.1;
}
.name {
    color: #000000;
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
}
.contact-container {
    background-color: #fff;
    text-align: center;
}
.address {
    line-height: 18px;
    color: #666666;
}  
.network {
    display: flex;
    justify-content: space-around;
    margin-top: 60px;
}
.social-network {
    list-style: none;
}
.friends {
    color: #000000;
    font-size: 36px;
    line-height: 36px;
    font-weight: 700;
}
.network p {
    color: #444444;
    line-height: 22px;
}
.write-us {
    background-color: #fff;
}
.title-write-us {
    color: #000000;
    font-size: 45px;
    line-height: 45px;
    font-weight: 500;
}
fieldset {
    border: none;
}
.label-write-us {
    font-weight: 700;
    color: #000000;
    line-height: 18px; 
}
.letter-write-us {
    border-color: #d7dcde;
    color: rgba(68, 68, 68, 0.5);
    line-height: 18px; 
}
.letter-write-us:hover {
    border-color: #b4b9bb;
    color: rgba(68, 68, 68, 0.5); 
}
.letter-write-us:focus {
    border-color: rgba(0, 0, 0, 1) ;
    color: rgba(68, 68, 68, 1);
}
.letter-write-us:invalid {
    border-color: #e74246;
    color: #e74246; 
}
.site-nav-current {
    font-weight: 500;
}
.site-nav-current.active {
    border-bottom: 2px solid #fb565a;
}
.title-catalog {
    color: #000000;
    font-weight: 500;
    font-size: 55px;
    line-height: 55px;
    text-align: center;
    padding-bottom: 100px;
}
.main-catalog {
    display: flex;
    padding-left: 140px;
    padding-right: 140px;
    justify-content: space-between;
}
.filter {
    width: 260px;
    min-height: 760px;
}
.catalog-container {
    width: 800px;
    min-height: 1990px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.filter ul,
.sort-parameter,
.sort-value {
    list-style: none;
}
.section-filter {
    color: #000000;
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
    text-transform: uppercase;
} 
.filter-option {
    line-height: 20px;
}
.filter-option:hover,
.filter-option:focus {
    color: #000000;
}
.filter-option:disabled {
    color: rgba(40, 49, 54, 0.5);
} 
.button-filter {
    line-height: 18px;
    color: #000;
    background-color: #eeeeee; 
}
.button-filter:focus,
.button-filter:hover {
    background-color: #c8c8c8;
}
.button-filter:active {   
    color: rgba(0, 0, 0, 0.3);
    background-color: #d5d5d5;
    border-top: 2px solid #bfbfbf;
}
.sort-link {
    font-size: 14px;
    line-height: 18px;
    color: rgba(0, 0, 0, 0.3);
}
.sort-link:hover,
.sort-link:focus {
    color: rgba(0, 0, 0, 0.6);
}
.sort-link:active {
    color: rgba(0, 0, 0, 1);
}
.catalog-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    flex-wrap: wrap;
}
.catalog-list {
    list-style: none;
}
.price {
    background-color: #eeeeee;
}
.price-title {
    font-size: 18px;
    line-height: 30px;
    color: #000;
    font-weight: 700;
}
.price p {
    line-height: 18px;
}
.price-btn {
}
.price-btn:hover,
.price-btn:focus {
    background-color: #e74246;
}
.price-btn:active {
    background-color: #d7373b;
}
.pagination-list {
    list-style: none;
}
.pagination-link {
    color: #000;
    background-color: #eeeeee;
    vertical-align: middle;
    text-align: center;
}
.pagination-link:hover,
.pagination-link:focus {
    background-color: #dfdfdf;
}
.pagination-link:active {
    background-color: #d5d5d5;
    color: rgba(0, 0, 0, 0.3);
}
.pagination-link .curent {
    background-color: white;
    color: rgba(0, 0, 0, 1);
    border: 2px solid #d5d5d5;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0,0,0,0);
    overflow: hidden;
}

























  